<html>
  <body>
    <h1>Add a new artist</h1>
    <form action="/artists" method="POST">
      <div>
        <label for="name">Name of the artist: </label>
        <input type="text" name="name" id="name">
      </div>
      <div>
        <label for="genre">Genre of the artist: </label>
        <input type="text" name="genre" id="genre">
      </div>
        <input type="submit">
    </form>
  </body>
</html>